 h1{
 color:rgb(255, 0, 0)
    }
    *{
     border:solid
    }
    .box1{
        background-color:aquamarine;
        display:flex;
        justify-content:space-between;
    }
            body {
                background-color: #808080       
            }                                       

.aboutme{
    display:flex;
    justify-content:space-between;
    font: 100px;
    font-size: x-large;
    background: gold;
    padding: 10px;
    margin: 10px;
    border: 50px;
}
